Repository Varbintech/next.varbintechcom, pull requests merged in 2023-04, with the labels that each got.

#49 Bugfix/lighthouse report images a11y shift
  .gitignore
  README.md
  components/case-studies/CaseStudyInner.tsx
  components/contact/Contact.tsx
  mocks/case-study.ts
  models/case-study.model.ts
  next.config.js
  public/DT-OKR-for-Jira.webp
  public/TIN-project.webp
  public/dt-okr-for-jira-project/DT-OKR-for-Jira_jnbl2b_c_scale,w_1200.webp
  public/dt-okr-for-jira-project/DT-OKR-for-Jira_jnbl2b_c_scale,w_397.webp
  public/dt-okr-for-jira-project/DT-OKR-for-Jira_jnbl2b_c_scale,w_886.webp
  public/tin-project/TIN-project_q9im1n_c_scale,w_1200.webp
  public/tin-project/TIN-project_q9im1n_c_scale,w_397.webp
  public/tin-project/TIN-project_q9im1n_c_scale,w_884.webp
Labels: bug, 🧱 components, enhancement, Index page, ✨ performance, 🚨 lighthouse

#55 Bugfix/lighthouse performance metrics 50
  components/common/loading/Loading.tsx
  components/common/navigation/Navigation.tsx
  components/common/navigation/NavigationMobile.tsx
  components/discover/Discover.tsx
  components/pricing/CustomServices.tsx
  components/pricing/PricingPlan.tsx
  mocks/pricing-plan.ts
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
Labels: bug, 🧱 components, enhancement, Index page, ✨ performance, 🚨 lighthouse

#52 case studies page
  components/case-studies/CaseStudies.tsx
  components/case-studies/styled-components.ts
  components/common/icon-rectangle-box/CubeComponent.tsx
  components/common/icon-rectangle-box/styled-components.ts
  components/common/tabsFilter/TabsFilter.tsx
  components/hero/Hero.tsx
  components/hero/styled-components.ts
  lightTheme.ts
  mocks/tabs-items.ts
  pages/case-studies/index.tsx
  pages/index.tsx
Labels: Case Studies, page entity

#54 Setup storybook 31.03.2023
  .eslintrc.js
  .storybook/main.js
  .storybook/nextFontGoogle.js
  .storybook/preview-head.html
  .storybook/preview.js
  components/common/buttons/Buttons.stories.tsx
  components/common/chip/Chip.stories.tsx
  components/common/feedback/Feedback.stories.tsx
  components/common/feedback/Feedback.tsx
  components/common/form-fields/TextField.stories.tsx
  components/common/typography/TypographyExample.stories.tsx
  components/common/typography/TypographyExample.tsx
  components/common/update-label/UpdateLabel.stories.tsx
  components/dialogs/custom-services/DialogCustomServices.stories.tsx
  lightTheme.ts
  models/case-study.model.ts
  package.json
  pages/about.tsx
  yarn.lock
Labels: 🧱 components, Index page, 🧰 DX/dev env

#56 45 cookie popup 31.03.2023
  components/common/cookie-popup/CookiePopup.stories.tsx
  components/common/cookie-popup/CookiePopup.tsx
  components/common/cookie-popup/styled-components.ts
  lightTheme.ts
Labels: Index page

#66 62 email template 07.04.2023
  email-template/EmailTemplate.stories.tsx
  email-template/EmailTemplate.tsx
  email-template/common/EmailButton.tsx
  email-template/common/EmailFooterText.tsx
  email-template/common/EmailHead.tsx
  email-template/common/EmailHeading.tsx
  email-template/common/EmailLogo.tsx
  email-template/common/EmailSubText.tsx
  email-template/common/EmailText.tsx
  email-template/mocks/confirmation.ts
  email-template/mocks/contact-form.ts
  email-template/styles.ts
  package.json
  yarn.lock
Labels: Emails

#69 61 blog details page 11.04.2023
  components/blog/Blog.tsx
  components/blog/BlogSection.tsx
  components/blog/RelatedPosts.tsx
  components/blog/styled-components.ts
  components/common/image-wrapper/ImageWrapper.tsx
  components/common/image-wrapper/styled-components.ts
  components/common/images-column/ImagesColumn.tsx
  components/common/table-of-content/TableOfContent.tsx
  components/common/table-of-content/styled-components.ts
  components/common/text-column/TextColumn.tsx
  components/hero/HeroDetails.tsx
  components/hero/styled-components.ts
  mocks/blog-data.ts
  mocks/case-study.ts
  mocks/navigation.ts
  models/blog-data.model.ts
  models/case-study.model.ts
  pages/blog/[blogId].tsx
  pages/case-studies/[caseStudyId].tsx
  stories/pages/Blog.stories.tsx
  utils/socialShareButtons.tsx
Labels: Blog

#65 Feature/send emails issue 63
  .nvmrc
  README.md
  components-pages/head/Head.tsx
  components-pages/layout/Layout.tsx
  components/common/image-wrapper/styled-components.ts
  components/dialogs/custom-services/DialogCustomServices.tsx
  email-template/EmailTemplate.tsx
  email-template/common/EmailFooterText.tsx
  mocks/navigation.ts
  models/case-study.model.ts
  next.config.js
  package.json
  pages/_app.page.tsx
  pages/_document.page.tsx
  pages/api/send.api.ts
  pages/blog/[blogId].page-wip.tsx
  pages/blog/index.page-wip.tsx
  pages/blog/index.tsx
  pages/case-studies/[caseStudyId].page-wip.tsx
  pages/case-studies/index.page-wip.tsx
  pages/index.page.tsx
  stories/pages/Blog.stories.tsx
  stories/pages/CaseStudies.stories.tsx
  stories/pages/Home.stories.tsx
  tsconfig.json
  yarn.lock
Labels: Index page, Emails

#72 Feature/integrate w 3rd party subscription provider
  components/common/icon-clutch/ClutchIcon.tsx
  components/common/icon-rectangle-box/CubeComponent.tsx
  components/common/icon-rectangle-box/RectangleBoxIcon.tsx
  components/common/icon-rectangle-box/RectangleBoxIconInverse.tsx
  components/common/loading/Loading.tsx
  components/contact/styled-components.ts
  components/dialogs/base/DialogBase.tsx
  components/dialogs/base/styled-components.ts
  components/dialogs/checkout/DialogCheckout.stories.tsx
  components/dialogs/checkout/DialogCheckout.tsx
  components/pricing/PlanItem.tsx
  components/pricing/PricingPlan.tsx
  mocks/pricing-plan.ts
  models/index.ts
  models/pricing-plan.model.ts
  pages/index.page.tsx
Labels: Index page

#75 feat: prevent *.pages.dev/* deployments showing in search results
  public/_headers
Labels: enhancement, Index page

#80 add google analytics
  components/common/navigation/Navigation.tsx
  components/common/navigation/NavigationLinks.tsx
  components/common/navigation/SiteLogo.tsx
  components/dialogs/custom-services/DialogCustomServices.tsx
  components/footer/Footer.tsx
  components/hero/Hero.tsx
  components/pricing/CustomServices.tsx
  components/pricing/PlanItem.tsx
  constants/social-share-buttons.ts
  hooks/use-effect-page-view-ga.ts
  hooks/use-generate-event-ga.ts
  lib/gtag.ts
  mocks/navigation.ts
  models/navigation-routes.model.ts
  package.json
  pages/_app.page.tsx
  pages/blog/[blogId].page-wip.tsx
  pages/case-studies/[caseStudyId].page-wip.tsx
  yarn.lock
Labels: GA
