Repository Varbintech/next.varbintechcom, pull requests merged in 2023-03, with the labels that each got.

#4 #2 preparation before 14.03.2023
  constants/inter-latin.ts
  constants/roboto-latin.ts
  constants/settings.ts
  darkTheme.ts
  hooks/use-theme-mode.ts
  lightTheme.ts
  pages/_app.tsx
  pages/_document.tsx
  pages/components/Head.tsx
  pages/index.tsx
  public/favicon.ico
  theme.ts
Labels: 🧱 components, Index page

#14 5 case section 20.03.2023
  .eslintrc.js
  components/case-studies/CaseStudies.tsx
  components/case-studies/CaseStudyInner.tsx
  components/case-studies/styled-components.ts
  components/common/chip/Chip.tsx
  components/common/feedback/Feedback.tsx
  components/common/feedback/styled-components.ts
  components/common/icon-dt/DTIcon.tsx
  components/common/icon-quote/QuoteIcon.tsx
  components/common/icon-rectangle/RectangleIcon.tsx
  components/common/navigation/styled-components.ts
  components/hero/Hero.tsx
  components/hero/styled-components.ts
  lightTheme.ts
  mocks/case-study.ts
  models/case-study.model.ts
  models/index.ts
  pages/index.tsx
  public/DT-OKR-for-Jira.webp
  public/TIN-logo.png
  public/TIN-project.webp
  public/filiprogaczewski.jpeg
  public/genefoo.jpeg
Labels: Index page

#15 6 services section 21.03.2023
  components/case-studies/CaseStudyInner.tsx
  components/case-studies/styled-components.ts
  components/common/chip/Chip.tsx
  components/common/icon-data-object/DataObjectIcon.tsx
  components/common/icon-devices/DevicesIcon.tsx
  components/common/icon-diversity/DiversityIcon.tsx
  components/common/icon-frame/FrameIcon.tsx
  components/common/icon-quote/QuoteIcon.tsx
  components/common/icon-rectangle-box/RectangleBoxIcon.tsx
  components/common/icon-rectangle-left-fill/RectangleLeftFillIcon.tsx
  components/common/icon-team/TeamIcon.tsx
  components/common/link/Link.tsx
  components/common/link/NavigationLink.tsx
  components/services/ServiceItem.tsx
  components/services/Services.tsx
  components/services/styled-components.ts
  lightTheme.ts
  mocks/services.ts
  models/index.ts
  models/service.model.ts
  package.json
  pages/index.tsx
  yarn.lock
Labels: 🧱 components, Index page

#24 bugfix/lighthouse-report-a11y-images: fix #20; fix #16; fix #22; fix #19
  components/case-studies/CaseStudyInner.tsx
  components/common/feedback/Feedback.tsx
  components/common/icon-dt/DTIcon.tsx
  components/common/navigation/Navigation.tsx
  components/hero/Hero.tsx
  components/hero/styled-components.ts
  mocks/case-study.ts
  models/case-study.model.ts
  models/index.ts
Labels: bug, 🧱 components, enhancement, Index page, a11y, 🚨 lighthouse

#26 Hotfix/broken build
  components/common/feedback/Feedback.tsx
  models/case-study.model.ts
  models/index.ts
  next.config.js
Labels: bug, Index page

#25 7 pricing section 21.03.2023
  components/case-studies/CaseStudies.tsx
  components/common/buttons/ButtonClose.tsx
  components/common/form-fields/TextField.tsx
  components/common/link/Link.tsx
  components/common/link/NavigationLink.tsx
  components/common/navigation/Navigation.tsx
  components/common/navigation/NavigationLinks.tsx
  components/dialogs/base/DialogBase.tsx
  components/dialogs/base/styled-components.ts
  components/dialogs/custom-services/CustomService.state.ts
  components/dialogs/custom-services/DialogCustomServices.tsx
  components/hero/Hero.tsx
  components/pricing/CustomServices.tsx
  components/pricing/PlanItem.tsx
  components/pricing/PricingPlan.tsx
  components/pricing/styled-components.ts
  components/services/Services.tsx
  constants/settings.ts
  lightTheme.ts
  mocks/case-study.ts
  mocks/pricing-plan.ts
  models/common.ts
  models/index.ts
  models/pricing-plan.model.ts
  pages/index.tsx
Labels: Index page

#28 hotfix/broken-build-2: rename model; add npm script for type checking
  components/pricing/PlanItem.tsx
  components/pricing/PricingPlan.tsx
  mocks/pricing-plan.ts
  models/index.ts
  models/pricing-plan.model.ts
  package.json
Labels: bug, 🏗 CI/CD, enhancement

#29 Bugfix/lighthouse report serve static assets cache policy
  components/hero/Hero.tsx
  components/services/ServiceItem.tsx
  constants/settings.ts
  mocks/case-study.ts
  mocks/pricing-plan.ts
  next.config.js
  pages/index.tsx
  public/PlaceholderLogo.png
  public/PlaceholderLogo1.png
  public/PlaceholderLogo2.png
  public/TIN-logo.png
  public/TIN-logo.webp
  public/filiprogaczewski.jpeg
  public/filiprogaczewski.webp
  public/genefoo.jpeg
  public/genefoo.webp
Labels: bug, 🧱 components, enhancement, Index page, a11y, 🚨 lighthouse

#31 bugfix/lighthouse-report-serve-static-assets-cache-policy: new try
  next.config.js
  pages/index.tsx
Labels: bug, 🧱 components, enhancement, Index page, ✨ performance, 🚨 lighthouse

#30 8 discover section 27.03.2023
  components/common/icon-discover/DiscoverIcon.tsx
  components/common/icon-rectangle-left-fill/RectangleLeftFillIcon.tsx
  components/discover/Discover.tsx
  components/discover/styled-components.ts
  components/pricing/styled-components.ts
  components/questions/Questions.tsx
  components/questions/styled-components.ts
  components/services/Services.tsx
  lightTheme.ts
  mocks/questions.ts
  models/index.ts
  models/questions.model.ts
  pages/index.tsx
Labels: Index page

#35 13 contact section 28.03.2023
  components/common/icon-clutch-small/ClutchSmallIcon.tsx
  components/common/icon-logo/LogoTransparentIcon.tsx
  components/common/icon-rectangle-box/RectangleBoxWhiteIcon.tsx
  components/common/icon-upwork-small/UpworkSmallIcon.tsx
  components/contact/Contact.tsx
  components/contact/styled-components.ts
  mocks/social-icons.ts
  models/index.ts
  models/social-icons.model.ts
  pages/index.tsx
  public/contact-bg.webp
Labels: Index page

#39 bugfix/lighthouse-report-images-a11y-shift: get images from cloudinary
  components/case-studies/CaseStudyInner.tsx
  components/common/feedback/Feedback.tsx
  components/contact/Contact.tsx
  components/hero/Hero.tsx
  mocks/case-study.ts
  next.config.js
  package.json
  utils/cached-images.ts
  utils/cloudinary.ts
  utils/loader-cloudinary.ts
  yarn.lock
Labels: bug, 🧱 components, enhancement, Index page, a11y, ✨ performance, 🚨 lighthouse

#40 bugfix/lighthouse-report-images-a11y-shift: fix env variables for Git…
  .github/workflows/deploy.yml
Labels: 🏗 CI/CD, Index page

#41 hotfix/broken-build-3: fix broken build
  .github/workflows/deploy.yml
Labels: 🏗 CI/CD, Index page

#42 Revert/images custom loader
  .github/workflows/deploy.yml
  components/case-studies/CaseStudyInner.tsx
  components/common/feedback/Feedback.tsx
  components/contact/Contact.tsx
  components/hero/Hero.tsx
  mocks/case-study.ts
  next.config.js
  package.json
  utils/cached-images.ts
  utils/cloudinary.ts
  utils/loader-cloudinary.ts
  yarn.lock
Labels: 🏗 CI/CD, Index page

#37 9 favicons 29.03.2023
  next.config.js
  package.json
  pages/_document.tsx
  public/apple-touch-icon.png
  public/favicon.ico
  public/favicon.svg
  public/favicon192.png
  public/favicon512.png
  public/favicon512.svg
  public/manifest.json
  yarn.lock
Labels: enhancement, Index page, ✨ performance, 🚨 lighthouse

#38 footer section
  components/case-studies/CaseStudies.tsx
  components/case-studies/styled-components.ts
  components/common/icon-rectangle-right/RectangleRightIconPrimary.tsx
  components/common/navigation/Navigation.tsx
  components/common/navigation/NavigationLinks.tsx
  components/common/navigation/SiteLogo.tsx
  components/footer/Footer.tsx
  components/footer/styled-components.ts
  components/services/Services.tsx
  components/services/styled-components.ts
  mocks/footer-data.ts
  mocks/navigation.ts
  models/footer-data.model.ts
  models/index.ts
  models/navigation-routes.model.ts
  pages/index.tsx
Labels: 🧱 components, Index page

#43 change pricing and success colors
  components/pricing/styled-components.ts
  darkTheme.ts
  lightTheme.ts
Labels: 🚨 lighthouse

#48 change component for footer heading
  components/footer/Footer.tsx
Labels: Index page, a11y, 🚨 lighthouse
